//Part Number: GW1NR-LV9QN88PC6/I5

IO_LOC "clk" 52;
IO_LOC "o1" 10;
IO_LOC "o4" 11;
IO_LOC "led[2]" 13;
IO_LOC "o5" 14;
IO_LOC "o2" 15;
IO_LOC "o3" 16;
IO_LOC "a1" 3;
IO_LOC "a2" 4;


// true LVDS pins
IO_LOC "tlvds_p" 25,26;
